@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
	/* --bgColorPrimary: #007965;
	--bgColorSecondary: #03c0a0;
	--textColorPrimary: #fff; */
	--bgColorPrimary: #FF9A00;
	--bgColorSecondary: #FFBF00;
	--textColorPrimary: #fff;
	--textColorSecondary: #2c2c2c;

	--border: 0.063rem solid var(--bgColorPrimary);
	--border-radius: 0.5rem;
	--transition: all 0.7s ease-in-out;
	--boxShadow: 0 0 10px rgba(0, 0, 0, 0.178);
}
.bluest{
	/* --bgColorPrimary: #0E185F;
    --bgColorSecondary: #2FA4FF; */
	--bgColorPrimary: #c60101;
    --bgColorSecondary: #fc3333;
	--border: 0.063rem solid var(--bgColorPrimary);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 100%;
	font-family: "Poppins", sans-serif;
}
/* globle styling */
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-family: "Montserrat", sans-serif;
}
h1{
	font-size: 1.5rem;
	font-weight: 700;
}
h2{
	font-size: 1.3rem;
	font-weight: 700;
}
h3{
	font-size: 1.2rem;
	font-weight: 700;
}
h4{
	font-size: 1rem;
	font-weight: 400;
}
p{
	font-size: 1rem;
	margin-bottom: 0;
}

img{
	max-width: 100%;
	height: auto;
}
ul,ol{
	padding: 0;
	margin: 0;
}
a,a:hover{
	text-decoration: none;
	color: var(--textColorSecondary);
}
.btn:hover{
	border: var(--border);
}
.dropdown-toggle::after {
    display:none;
}
.row{
	--bs-gutter-x:1rem;
}
.row .col-md-6{
	margin-block: 1rem;
}
[type=search]:focus-visible{
    outline: none;
}
label{
	font-size: 0.875rem;
    font-weight: 400;
	color: #2c2c2c;
}
::placeholder,.form-control[type=file],
.form-select{
	font-size: 0.9rem;
	font-weight: 400;
	color: #8a8a8a;
}

.form-select {
	height: 2.3rem;
}
.form-control:focus,
.form-select:focus {
    border-color: var(--bgColorPrimary);
    box-shadow: none;
}
.form-control.is-invalid:focus, 
.was-validated .form-control:invalid:focus,
.form-select.is-invalid:focus, 
.was-validated .form-select:invalid:focus{
	box-shadow: none;
}
.invalid-feedback{
	font-size: 0.8rem;
	margin-bottom: 0;
}
.dt-length label{
	text-transform: capitalize;
}
.dt-paging-button{
	width: 2.5rem;
	height: 2.5rem;
}
option:selected{
	background-color: var(--bgColorPrimary);
}
/* width */
::-webkit-scrollbar {
	width: 0.313rem;
}
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	/* border-radius: 0.313rem; */
	background: var(--bgColorPrimary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--bgColorSecondary);
}
a{
	text-decoration: none;
}
/* Components */
.custom-outline{
	border: var(--border);
}
.lt_rt_wrapper{
	display: flex;
	align-items: center;
}
.overview_area{
	padding: 1rem;
}
.top_wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: var(--border-radius);
	box-shadow: var(--boxShadow);
}
.larger-btn{
	padding: 0.5rem 1.5rem;
	border-radius: var(--border-radius);
	color: var(--textColorPrimary);
	background-color: var(--bgColorPrimary);
	border: var(--border);
	transition: var(--transition);
}
.larger-btn a{
	color: var(--textColorPrimary);
}
.larger-btn:hover{
	transition: var(--transition);
	background-color: transparent;
}
.larger-btn:hover a,
button.larger-btn:hover{
	color: var(--bgColorPrimary);
}
.custom-bg{
	color: var(--textColorPrimary);
	background-color: var(--bgColorPrimary);
}
.done,.pending,.proccess{
	padding: 0.3rem;
	text-align: center;
	font-size: 0.8rem;
	border-radius: var(--border-radius);
}
.done{
    background-color: #03f8593c;
}
.proccess{
	background-color: #ffff007a;
}
.pending{
	color: var(--textColorPrimary);
	background-color: #ff00008c;
}

/* Authentication css */
.auto_outer_wrap{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.auto_outer_wrap .logo{
	margin-inline: auto;
	max-width: 100px;
	filter: invert(1);
	margin-bottom: 20px;
}
.auto_outer_wrap .form_wrapper{
	overflow: hidden;
	border-radius: 10px;
	padding-bottom: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.auto_outer_wrap form{
	padding-inline: 30px;
}
.form_wrapper h2{
	font-size: 2.5rem;
}
/* main style */
.mainCont_wrapper{
	display: flex;
}
/* Sidebar area styling */
.sidebar{
	max-width: 32rem;
	width: 20%;
	/* height: 100%; */
	height: 100vh;
	position: sticky;
	left: 0;
	top: 0;
	overflow-x: hidden;
	transition: var(--transition);
	background-color: var(--bgColorPrimary);
}
.sidebar.minimize{
	width: 80px;
}
.sidebar .sidebar_menu{
	width: 100%;
	padding-left: 2rem;
	transition: var(--transition);
}
/* .sidebar .sidebar_menu .navbar-nav{
	height: 60vh;
	overflow-y: scroll;
} */
.headerBar .CloseBtn{
	top: 0.625rem;
    right: 0.625rem;
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	border-radius: 50%;
	cursor: pointer;
	transition: var(--transition);
	color: var(--textColorPrimary);
	background-color: var(--bgColorSecondary);
}
.minimize .CloseBtn{
	transition: var(--transition);
	transform: rotate(180deg);
}

.headerBar{
	margin-block: 1.5rem;
}
.minimize .sidebar_menu{
	padding-left: 1rem;
}
.navbar-brand{
	display: inline-flex;
	align-items: center;
	max-width: 50px;
	font-weight: 800;
    letter-spacing: .5px;
    font-size: 1.7rem;
    gap: 0.5rem;
	justify-content: center;
	color: var(--textColorPrimary);
}
.navbar-brand:focus, .navbar-brand:hover{
	color: var(--textColorPrimary);
}
.headerBar .navbar-brand span{
	line-height: 22px;
    font-size: 1.2rem;
	transition: var(--transition);
}

.minimize .headerBar .navbar-brand span{
	display: none;
	transition: var(--transition);
}
.nav-item{
    padding-left: 0.5rem;
	margin-bottom: 0.5rem;
	border-radius: 1.25rem 0 0;
	transition: var(--transition);
}
.nav-item span{
	transition: var(--transition);
}
.minimize .nav-item span{
	font-size: 0;
	transition: var(--transition);
}
.nav-item:hover,
.nav-item.active{
	transition: var(--transition);
	box-shadow: var(--boxShadow);
	background-color: var(--bgColorSecondary);
}

.nav-item .nav-link{
	display: flex;
    align-items: center;
	color: var(--textColorPrimary);
}
.nav-item .nav-link i{
	font-size: 1.5rem;
}
.sidebar_menu .dropdown-menu li a,
.navbar-nav .nav-link.show{
	color: var(--textColorPrimary);
}
.sidebar_menu .dropdown-menu{
	border-radius: 0 0 0 20px;
    margin-top: 0;
    border: 0;
    right: 0;
	background-color: var(--bgColorSecondary);
}
.sidebar_menu .dropdown-item:focus, 
.sidebar_menu .dropdown-item:hover{
	background-color: var(--bgColorPrimary);
}
.toggle{
	/* margin-top: 3rem; */
	width: 4rem;
	border-radius: 1.25rem;
	height: 2.188rem;
	position: relative;
	cursor: pointer;
	transition: var(--transition);
	transition: all 0.7s ease-in-out;
	box-shadow: inset 0px 0px 0.938rem 0px #00000050;
}
.minimize .toggle{
	width: 3.4rem;
	height: 1.8rem;
	transition: var(--transition);
}
.toggle::before{
	content: "";
	position: absolute;
	width: 1.875rem;
	height: 1.875rem;
	border-radius: 50%;
	left: 0;
	top: 50%;
	transition: var(--transition);
	transform: translateY(-50%);
	box-shadow: inset -0.25rem 0px 0.188rem 0 #ffffff54, 
				inset 5px 0px 5px 0 #00000087;
	background-color: var(--bgColorSecondary);
}
.minimize .toggle::before{
	width: 1.5rem;
	height: 1.5rem;
	transition: var(--transition);
}
.toggle.bluest::before{
	left: auto;
	right: 0;
}
/* main body area styling */
.main_body{
	width: 100%;
}
/* header area styling */
header{
	top: 0;
	left: 0;
	position: sticky;
	/* width: 100%; */
	z-index: 100;
	padding: 1rem;
	background-color: var(--textColorPrimary);
	box-shadow: 4px 0 10px #0000003b;
}
.searchField{
	/* max-width: 300px; */
	width:100%;
	position: relative;
}
.searchField .form-control{
	padding-right: 2rem;
	border: var(--border);
}
.searchField .searchIcon{
	right: 0.625rem;
    top: 50%;
    z-index: 10;
	color: var(--bgColorPrimary);
    position: absolute;
    transform: translateY(-50%);
}

.left_area,.right_area{
	width: 50%;
}
.right_area .btn{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	padding: 0px;
    overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--bgColorPrimary);
}
.right_area{
	gap: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.right_area .btn{
	position: relative;
}
.count{
	font-size: 0.6rem;
    font-weight: 600;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
	color: var(--textColorPrimary);
}
.allCards_wrapper{
	gap: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card_wrap{
	width: 100%;
	height: 100%;
    padding: 1rem;
    /* border: var(--border); */
    border-radius: var(--border-radius);
    transition: var(--transition);
	gap: 0.8rem;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}
.icon_wrap{
	/* width: 20%; */
	width: 4rem;
	height: 4rem;
	display: flex;
	font-size: 2rem;
	border-radius: 50%;
    align-items: center;
    justify-content: center;
	/* color: var(--textColorPrimary); */
	background-color: var(--textColorPrimary);
}
.content_wrap{
	width: 64%;
	color: var(--textColorPrimary);
}
.content_wrap h3{
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
	font-weight: 400;
}
.content_wrap h4{
	font-size: 1.8rem;
	margin-bottom: 0.5rem;
	font-weight: 700;
}
.dt-column-title{
	font-size: 1rem;
	font-weight: 600;
}
.dt-length label{
	margin-left: 1rem;
}
.table-responsive .dt-container .dt-paging .dt-paging-button.disabled{
	font-size: 1rem!important;
	border: var(--border)!important;
}
.table-responsive .dt-container .dt-paging .dt-paging-button.current{
	color: var(--textColorPrimary)!important;
	background-color: var(--bgColorPrimary)!important;
}
.box,
.list_items_wrapper{
	padding: 1rem;
	box-shadow: var(--boxShadow);
	border-radius: var(--border-radius);
}
.list_items_wrapper ul li{
	/* margin-bottom: 1.5rem; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 1rem;
	border-bottom: var(--border);
}
.list_items_wrapper ul li:last-child{
	margin-bottom: 0;
	border-bottom: 0;
	/* padding-bottom: 0; */
}
.guest_details_wrap{
	display: flex;
    align-items: center;
    gap: 1rem;
}
.guest_img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}
.guest_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.guest_details_wrap span{
	font-size: 0.9rem;
    font-weight: 400;
	color: #8a8a8a;
}
.table_img{
	width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bgColorPrimary);
}
.tabel_dropdown{
	padding: 0.25rem;
}
.tabel_dropdown .btn{
	width: 100%;
	text-align: left;
}
.preview_content{
	gap: 2rem;
	display: flex;
	align-items: center;
	padding-block: 1.5rem;

}
.modal_img{
	width: 10rem;
	height: 10rem;
	overflow: hidden;
	border-radius: var(--border-radius);
	border: 1px solid var(--bgColorPrimary);
}
.modal_content{
	width: 50%;
}
.modal_content strong{
	width: 50%;
}
/* Tab Stylings */
.nav-tabs .nav-item{
	padding: 0;
}
.nav-tabs .nav-item:hover, 
.nav-tabs .nav-item.active{
	background-color: transparent;
	box-shadow: none;
}
.nav-tabs .nav-link{
	color: var(--textColorSecondary);
}
.nav-tabs .nav-link.active{
	color: var(--textColorPrimary);
	background-color: var(--bgColorPrimary);
}
rte-resizecorner{
	display: none!important;
}
.upload-label {
	display: block;
	cursor: pointer;
	border: 2px dashed #ccc;
	padding: 0.625rem;
	height: 15.625rem;
	border-radius: 0.625rem;
	overflow: hidden;
	text-align: center;
	transition: background-color 0.3s, border-color 0.3s;
}

.upload-label:hover {
	background-color: #e0e0e0;
	border-color: #aaa;
}
#preview {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.625rem;
	margin-bottom: 1.25rem;
}
#preview.hidden {
    display: none;
}
.prev_wrapper h4{
	font-weight: 600;
	margin-top: 1rem;
	margin-bottom: 0.3rem;
}
.field{
	padding: 0.5rem;
	border: var(--border);
	border-radius: var(--border-radius);
}
.thumbnail{
	margin-top: 2rem;
	overflow: hidden;
	border-radius: var(--border-radius);
}